/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/* CSS Variables */
@import 'variables.css';

/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Components */
@import 'components/button.css';
@import 'components/navigation.css';
@import 'components/sidebar.css';
@import 'components/page_structure.css';
@import 'components/modal.css';
@import 'components/template_form.css';

/* Pages */
@import 'login.css';
@import 'templates.css';
