<div class="modal-overlay"
     id="modalOverlay"
     data-modal-target="overlay"
     data-action="click->modal#closeOnOverlay"></div>

<div class="modal" id="modal" data-modal-target="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">Novo Template</h2>
    </div>

    <div class="modal-body">
      <%= render 'templates/form' %>
    </div>
  </div>
</div>
