<% content_for :page_title, "Gerenciamento" %>

<div class="gerenciamento-container">

  <div class="botoes-grid">
    <%= link_to "Importar Dados", '', class: "btn-gerenciamento" %>
    <%= link_to "Editar Templates", templates_path, class: "btn-gerenciamento" %>
    <%= link_to "Enviar Formulários", forms_path, class: "btn-gerenciamento" %>
    <%= link_to "Resultados", forms_path, class: "btn-gerenciamento" %>
  </div>
</div>